body{ margin:0px; padding:0px; font-family: 'Lato', sans-serif;}
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li{ margin: 0;   padding: 0;}

header{
	background:url(../images/header.jpg) no-repeat;
	background-size:100%;	
	overflow: hidden;
}
.clear { clear:both;}

img, a{ text-decoration:none; color:#888787;}
.wrapper{
	width:982px;
	margin:0 auto;
	margin-top: 0px;
	overflow: hidden;
		
}
.outer{
	margin-top: 0px;
      width:1600px;
    margin:0;
    text-align:left;
	background-color:#19384A;
    min-height:25%;
}
.leader {
    position:relative;
    margin:0;
   margin-top: 0px;
    background:#19384A;
}
.logo {
float: left;
max-width: 500px;
margin-top:0px;
padding: 10px 0px 5px;
}

.logo img {
width: 100%;
}

.left-nav {
float: right;
margin-top: 30px;
}
.left-nav ul {
margin: 0px;
margin-right: -2px;
padding: 0px;
}
.left-nav ul li {
display: inline-block;
margin: 0px;
padding: 0px 8px;
text-decoration: none;
border-right: 1px solid #fff;
line-height: 1;
font-size: 12px;
}
.left-nav ul li a {
color: #fff;
text-decoration: none;
line-height: 1;
}
.left-nav ul li:last-child{ border-right:none;}
.search input[type="search"] {
background: url(../images/search.png) no-repeat right #FFF;
height: 33px;
border: none;
width: 260px;
border-radius: 4px;
text-indent: 4px;
float: right;
margin-top: 20px;
background-position: 101%;
}
.logo img {
width: 100%;
}
.main-nav {
background: #2d4859;
overflow: hidden;
}
.main-nav nav {
float: left;
}
.main-nav ul {
margin: 0px;
margin-right: -2px;
padding: 0px;
}
.main-nav ul li {
margin: 0px;
text-decoration: none;
line-height: 1;
float: left;
border-right: 1px solid rgba(255, 255, 255, 0.32);
display: inline-block;

}
.main-nav ul li a {
color: #fff;
display: inline-block;
margin: 0px;
padding: 10px 12px 12px;
text-decoration: none;
line-height: 1;
font-size: 13px;
}
.main-nav ul li:last-child{ border-right:none;}
.main-nav ul li a:hover {
background: rgba(13, 89, 116, 0.73);
}
.container-left {
width: 100%;
max-width: 680px;
float: left;
}
.news-top h1 {
color: #2d4859;
padding: 20px 0px 4px;
font-size: 30px;
font-weight: bold;
border-bottom: 1px solid;
margin: 0px 5px;
}
.container-right {
width: 300px;
float: right;
} 	
#amazingcarousel-7 .amazingcarousel-image img + div a {
display: none;
}
.center-left {
float: left;
width: 430px;
background: #f2f3ee;
padding: 10px;
}
.center-container {
margin-top: 30px;
}
.center-left li {
display: block;
float: left;
width: 100%;
list-style: none;
padding: 5px 0px;
}
.center-left li img {
float: left;
margin: 0px 10px 0px 0px;
padding: 0px;
max-width: 135px;
}
.center-left li h2 {
font-size: 17px;
font-weight: bold;
margin: 5px 0px;
}
.center-left li h2 span {
color: #425b6a;
}
.center-right {
float: right;
}
.academics {
height: 70px;
margin-bottom: 10px;
border: 1px solid #e8bd7f;
}
.academics a{
	color:#e8bd7f;
	text-decoration:none;
}
.student {
height: 70px;
margin-bottom: 10px;
border: 1px solid #983a0b;
}
.student a{
	color:#983a0b;
	text-decoration:none;
}
.convocation {
height: 70px;
margin-bottom: 10px;
border: 1px solid #2e495a;
}
.convocation a{
	color:#2e495a;
	text-decoration:none;
}
.alumin {
height: 70px;
margin-bottom: 10px;
border: 1px solid #ac4e01;
}
.alumin a{
	color:#ac4e01;
	text-decoration:none;
}
.iiti {
height: 80px;
margin-bottom: 10px;
border: 1px solid #2e495a;
background:#2e495a;
}
.iiti a{
	color:#e8bd7f;
	text-decoration:none;
}
.center-right img {
padding: 20px 0px;
margin:0px 5px 0px 7px;
float: left;
}
.center-right a {
padding: 27px 0px;
float: left;
font-size: 14px;
padding-right: 8px;
}
.iiti a {
padding: 9px 11px;
margin: 0px;
color: #fff;
font-size: 15px;
width: 90%;
}
.iiti img {
padding: 0;
margin: 0;
float: right;
}
.iiti hr {
clear: both;
width: 100%;
margin-left: -1px;
padding: 0px;
margin: 0px;
color: "#003E3E";
}
a.imgbtn + img{
padding: 10px 20px;
}
a.imgbtn-n + img {
padding: 0px 20px;
}
a.imgbtn-n {
padding:9px 11px;
}
.events h1 {
font-size: 16px;
padding: 7px 0 10px;
float: left;
background: #2d4859;
width: 100%;
color: #fff;
line-height: 1;
font-weight: 400;
text-indent: 10px;
}
.events img {
width: 100%;
}
.events {
float: right;
clear: both;
width: 100%;
background: #f2f3ee;
padding-bottom: 13px;
margin-top: 20px;
}
.events p {
font-size: 14px;
padding:2px 8px;
color: #888787;
}
a.btn {
border: 1px solid #2d4859;
padding: 5px 40px 8px 6px;
text-decoration: none;
color: #2d4859;
float: left;
margin: 10px 10px 0px;
background:url(../images/btn.png) no-repeat right;
background-position: 92px;
}
ul.bottom li {
width: 214px;
list-style: none;
float: left;
display: inline-block;
margin: 0px;
padding: 0px 6px;
}
ul.bottom{ margin:0px;}
li.bottom-item img {
width: 100%;
}
.bottom-container {
float: left;
margin-top: 9px;
background: #f2f3ee;
padding: 6px 1px 20px;
}
.bottom-title {
font-size: 1.17em;
font-weight: bold;
font: bold 12px 'Open Sans', sans-serif;
color: #333333;
margin: 6px 0px;
text-align: left;
line-height: 14px;
height: 14px;
overflow: hidden;
}
.bottom-description {
font-size: 14px;
text-align: justify;
color: #888787;
}
.bottom-container a.btn {
margin: 10px 0px;
}
footer {

float: left;
clear: both;
margin-top: 0px;
width: 993px;
padding: 0px;
}
.quick-link {
float: left;
width: 212px;
padding: 14px;
}
.quick-link  ul li{
	list-style:none;
	text-decoration:none;
	color:#fff;
	color: #fff;
padding: 3px 0px;
font-size: 14px;
}
	.quick-link  ul li a{
		text-decoration:none;
	color:#fff;}
.addres{
float: left;
width: 212px;
padding: 14px;
}
footer h1{
font-size: 1.17em;
font-weight: bold;
color: #2d4859;
border-bottom: 2px solid #fff;
margin-bottom: 3px;
padding-bottom: 5px;
	}
.btn-white{
	border: 1px solid #fff;
padding:3px 40px 6px 6px;
text-decoration: none;
color: #fff;
float: left;
margin: 10px 0px 0px;
background:url(../images/white-btn.png) no-repeat;
background-position: 92px;}
.addres p {
color: #fff;
width: 100%;
font-size: 14px;
}
.copy-footer {
background: #2d4859;
clear: both;
padding: 5px 0px;
color: #fff;
text-align: center;
font-size: 12px;
text-decoration:none;
}
.left-nav ul li a:hover {
color: #E0E3E5;
}
.center-right div:hover {
background: #2D4859;
color: #fff;
border: 1px solid #2D4859;
}
.center-right div:hover a {
color: #fff;
}
.iiti a:hover {
background: #1A648B;
}
a.btn:hover {
border: 1px solid #79AECA;
background-color: #FFFFFF;
}
a.btn-white:hover {
background-color: #2D4859;
}
.center-left p {
font-size: 14px;
color: #888787;
}
.other{
	border:1px solid #AC019D;
	color: #AC019D;
	height: 70px;
	margin-bottom: 10px;
	}
	.other a {
	padding: 27px 0px;
	float: left;
	font-size: 14px;
	padding-right: 8px;
	color: #AC019D;
	text-decoration: none;
}
.news-top {
margin-top: 25px;
}
.news-top h3 {
padding: 6px 5px 6px;
}
.bottom-container h3 {
padding: 8px 8px;
}
.center-right div a {
width: 76%;
float: right;
white-space: nowrap;
}
.center-right div {
margin-bottom: 13px;
}
.container a:hover{
	color:#000;}
	
	#academiclinks{
	display:block;
	width:920px;
	}

#academiclinks .linkbox{
	display:block;
	float:left;
	width:220px;
	margin:10px 10px 0 0;
	font-size:12px;
	}

#academiclinks a {
color: #55ABDA;
font-size:14px;
text-decoration: none;
}
#academiclinks h2{
background: #19384A;
color: #fff;
position: relative;
width: 100%;
left: -20px;
padding: 6px 65px 5px 15px;
font-size: 18px;
text-transform: uppercase;
}

#academiclinks ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#academiclinks .last{
	margin:5px 0 0;
	}
	.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.addres a {
color: #fff;
}

.modal {
  display: none;
  background: #fff;
  padding: 0 20px 20px;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 960px;
  min-height: 300px;
  left:0px !important;
  right:0px;
  margin:0 auto;
}
p.closeBtn {
margin: 0px;
clear: both;
border: 1px solid #0E81D3;
width: 68px;
text-indent: 14px;
padding: 4px 4px 6px;
line-height: 1;
color: #0E81D3;
cursor:pointer;
}